:root {
	--bg-1: hsl(215, 60%, 95%);
	--text-1: hsl(215, 50%, 10%);
	--text-2: hsl(215, 20%, 25%);
	--acc-1: hsl(215, 85%, 75%);
	--acc-2: hsl(215, 50%, 50%);
	--divider: hsl(215, 20%, 70%);
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Aleo Variable', serif;
	background: var(--bg-1);
	color: var(--text-1);
}

main {
	margin: 0 50px;
}

#svelte {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
}

h1,
h2 {
	margin: 1.5rem 0;
}

a {
	color: inherit;

	@include underline;
}

p {
	font-size: 1.1rem;
	line-height: 1.75;
	margin: 1.1rem 0;
}

blockquote {
	font-style: italic;
	margin: 1.5rem 0;
	padding-left: 2rem;
	border-left: 1px solid var(--divider);
}

.text.article > p:first-of-type::first-letter {
	font-size: 3.8em;
	float: left;
	margin: 0.3rem 0.5rem 0 0;
}

.text.article > p:first-of-type {
	min-height: 3.6rem;
}

.ver-divider {
	border-right: 1px solid var(--divider);
}

.hor-divider {
	border-bottom: 1px solid var(--divider);
}
