:root {
	--bg-1: hsl(215, 60%, 95%);
	--bg-2: hsl(215, 40%, 90%);
	--text-1: hsl(215, 50%, 10%);
	--text-2: hsl(215, 20%, 30%);
	--acc-1: hsl(215, 85%, 75%);
	--acc-2: hsl(215, 50%, 50%);
	--divider: hsl(215, 20%, 25%);
	--font-family: 'Rethink Sans Variable', sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--font-family);
	font-weight: 400;
	background: var(--bg-1);
	color: var(--text-1);
}

#svelte {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
}

h1,
h2,
h3 {
	margin: 1.5rem 0 1rem 0;
}

h1,
h2,
h3,
h4 {
	line-height: 1.2;
}

a {
	color: inherit;

	@include underline;
}

button {
	padding: 0;
	border: none;
	background: none;
	color: inherit;
	cursor: pointer;
}

p {
	line-height: 1.75;
	margin: 1rem 0;
}

blockquote {
	font-style: italic;
	margin: 1.5rem 0;
	padding-left: 2rem;
	border-left: 1px solid var(--divider);
}

.text.article > p:first-of-type::first-letter {
	font-size: 3.6rem;
	line-height: 0.8;
	float: left;
	padding: 0.4rem 0.5rem 0 0;
	margin-bottom: -0.5rem;
}

.text.article > p:first-of-type {
	min-height: 3.6rem;
}

.ver-divider {
	border-right: 1px solid var(--divider);
}

.hor-divider {
	border-bottom: 1px solid var(--divider);
}
