:root {
    --header-color: rgb(142, 193, 238);
    --header-text: #1e2022;
    --background-color: rgba(227, 227, 227, 0.968);
    --link-color-1: rgb(204, 204, 204);
    --heading-font: 'Roboto', sans-serif;
}

.pretty-link {
    display: block;
    text-decoration: none;
    color: black;
    background-color: var(--link-color-1);
    text-align: center;
    font-size: 50px;
    padding: 20px 0;
    border-radius: 10px;
    margin-bottom: 10px;
}
    
.pretty-link:hover {
    background-color: gray;
}
