@mixin underline {
	&:hover {
		text-decoration: underline;
		text-decoration-color: var(--acc-1);
		text-decoration-thickness: 0.2rem;
	}
}

@mixin border {
	border-right: 1px solid var(--divider);
	border-bottom: 1px solid var(--divider);
}

@mixin line-clamp($lines) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lines;
}

@mixin expand {
	transition: transform 0.1s ease-in-out;
	&:hover {
		transform: scale(1.02);
	}
}
