@mixin underline {
	&:hover {
		text-decoration: underline;
		text-decoration-color: var(--acc-1);
		text-decoration-thickness: 0.2rem;
	}
}

@mixin border {
	border-right: 1px solid var(--divider);
	border-bottom: 1px solid var(--divider);
}
